html, body, #root, .container-fluid, .full-height-row, .matrix-menu, .matrix-multiplication-field
  height: 100%

.matrix-view
  padding-top: 10px

.btn-block
  width: initial
  margin: 10px 0 10px 0

.matrix-menu
  background-color: #e4e4e4

.matrix-view-table
  border-collapse: separate
  border-spacing: 5px

.matrix-view
  background-color: #f6f6f6

.matrix-cell
  width: 30px
  height: 30px

.matrix-multiplication-field, .result-matrix
  margin-top: 10px
