html, body, #root, .container-fluid, .full-height-row, .matrix-menu
  height: 100%

.btn-multiply
  margin: 10px 0 30px 0

.btn-block
  width: initial

.matrix-size-regulator
  margin: 30px 0 10px 0

.matrix-menu
  background-color: #e4e4e4

.matrix-view-table
  border-collapse: separate
  border-spacing: 5px

.matrix-view
  background-color: #f6f6f6

.matrix-cell
  width: 30px
  height: 30px

.matrix-multiplication-field, .result-matrix
  margin-top: 10px

.size-reg-button-toolbar
  margin-top: 10px

.size-reg-label
  display: inline-block
  margin: 5px 0 0 10px

.notification-text
  width: 75%
  margin-top: 10px
  color: red